header {
  width: 100%;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  z-index: 2022;
  position: relative;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-family: "Inter";
      font-weight: 400;
      font-size: 1.3rem;
      color: #ffffff;
    }
  }
}
